*{
	margin: 0px;
	padding: 0px;
}
#nav-menu-list{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: lightgrey;
	height: 64px;
	padding-left: 64px;
	padding-right: 64px;
	border-bottom: 1px solid grey;
}
.nav-menu-item{
	display: inline-block;
	height: inherit;
}

.nav-menu-item a{
	height: inherit;
	display: flex;
	align-items: center;
	padding: 0px 16px;
	text-decoration: none;
	color: black;
}

.nav-menu-item a:hover{
	color: white;
	background-color: blue;
}